body{
    text-align: center;
    font-family: Arial;
    display: flex;
    justify-content: center;
    color: rgb(0, 191, 255);
}
.container{
    max-width: 70%;
    border: 1px solid #333;
    border-radius: 20px;
    overflow: hidden;
}
#cabecera{
    background-color: rgb(183, 222, 135);
    padding: 5px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 2.5rem;
}
#cabecera h1{
    font-size: 3rem;
    color: rgb(81, 11, 231);
    text-shadow: 1px 2px 5px blue;
}

.footer{
    width: 100%;
    background-color: rgb(12, 170, 232);
    color: aliceblue;
    padding: 10px;
    box-shadow: 1px -10px 9px rgb(75, 75, 241);
}